.hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__position--center {
    width: 90%;
    max-width: 1000px;
}

.nav {
    text-align: center;
    margin-bottom: 2.5rem;
}

.intro__img {
    width: 100%;
}

.logo {
    width: 15%;
    max-width: 5.25rem;
    margin: 2rem 0 1rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search__title {
    text-align: center;
    margin-bottom: .75rem;
}

.prompt__group {
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.prompt__style {
    opacity: .6;
}

.prompt {
    color: #1687A7;
    text-decoration: none;
    text-wrap: nowrap;
}

.textarea__style {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.input {
    width: 100%;
    max-width: 35rem;
    border: 2px solid #1687A7;
    border: 2px solid #1688a7ca;
    border-radius: .75rem;
    padding: .75rem;
    text-indent: 8px;
    resize: none;
    color: #276678;
    color: #136d86;
}

.btn {
    cursor: pointer;
    background: none;
    border: none;
    align-self: flex-end;
    padding: 0;
}

.input__answer {
    border: 2px solid #1687A7;
    border-radius: .75rem;
    height: fit-content;
    padding: 1rem .5rem;
}

@media(max-width: 684px) {
    .btn__img--size {
        width: 40px;
    }
}