*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Inter", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
    color: #276678;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

body {
    background: #E8ECF1;
    background-color: #F6F5F5;
    color: #276678;
    opacity: .8;
}

.sidebar {
    background: #B5CFD8;
    background: #D3E0EA;
}

.logo {
    width: 25px;
    height: 25px;
}